gen/
edmx/
schema.sql
schema-nomocks.sql
default-env.json
openapi.json
.env
.values.yaml
package-lock.json
bin/
target/
.java-version
.flattened-pom.xml
.classpath
.project
.settings
.vscode
.idea
*.iml

node/
node_modules/
*._json_backup
.mta/
*.mtar
mta.yaml

*.log*
gc_history*
hs_err*
.DS_Store
*.mta
*.db
*.sqlite*

.cdsrc-private.json

/chart/
.reloadtrigger
